/***** INDEX.HTML *****/

@media screen and (max-width: 470px) {
    .front {margin-top: 130px;}
    .fron_txt{
        font-size: 18px;
        padding: 0 20px;
    }
    .pred_01 {font-size: 20px;}
    .roda_pe {font-size: 9px;}
}

/***** ENDEREÇO DOS PREDIOS *****/

@media screen and (max-width: 470px){
    .name{ width: 305px;}
    .txt_pag_01{ font-size: 20px; }
}
/***** PAGINA DOS PREDIOS *****/

@media screen and (max-width: 470px){
    .txt_ed{ font-size: 27px; }
    .bk_01{
        width: 100%;
        padding: 0 2px;
    }
    .quadrado{
        display: block;
        margin: auto;
        width: 280px;
        height: 430px;
        margin-bottom: 15px;   
    }
    .andar{ display: inline-block; }
    .posicoes{
        width: 270px;
        height: 360px;
    }
    .portas_01{
        border: 2px solid rgb(136, 133, 133);
        width: 33px;
        font-size: 15PX;
        font-style: normal;
    }
    .serial{
        width: 153px;
        font-size: 15PX;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .andar_01{
        border: 2px solid rgb(136, 133, 133);
        width: 63px;
        font-size: 15PX;
    }
}