/***** INDEX.HTML *****/

@media screen and (max-width: 470px) {
    .front {margin-top: 130px;}
    .fron_txt{
        font-size: 18px;
        padding:  0 40px;
        margin-top: -72px;
    }
    .pred_01 {font-size: 20px;}
    .roda_pe {font-size: 9px;}
    .front_img{
        width: 270px;
    }
}    
@media screen and (max-width: 930px){
    .front_img{    
        padding: 0 9%;
    }
}
/***** ENDEREÇO DOS PREDIOS *****/

@media screen and (max-width: 470px){
    .name_01{ width: 305px;}
    .name{ width: 305px;}
    .txt_pag_01{ font-size: 20px; }
    .zap{
        width: 55px;
        left: 290px;
    }
    .footer{
        font-size: 11px;
    }   
}
@media screen and (max-width: 930px) {
    .bk{
        margin: 20px auto;
        width: auto;
    }    
}    

/***** PAGINA DOS PREDIOS *****/

@media screen and (max-width: 470px){
    .txt_ed{ font-size: 27px; }
    .img_maps{ width: 100%; }
    .bk_01{
        width: 100%;
        padding: 0 2px;
    }
    .quadrado{
        display: block;
        margin: auto;
        width: 280px;
        height: 430px;
        margin-bottom: 15px;   
    }
    .andar{ display: inline-block; }
    .posicoes{
        width: 270px;
        height: 360px;
    }
    .portas_01{
        width: 33px;
        font-size: 15PX;
    }
    .serial{
        width: 153px;
        font-size: 15PX;
    }
    .andar_01{
        width: 63px;
        font-size: 15PX;
    }
}