
body{
    background-color: rgb(214, 233, 243);
    margin: 0;
    padding: 0;
}
.front{
    text-align: center;
    margin-top: 180px;
}
.fron_txt{
    font-size: 28px;
    padding: 0 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(134, 133, 134);
}
.front_img{
    width: 200px;
    border-radius: 143px;
    border-bottom: 7px solid rgb(219, 217, 217);
    border-right: 5px solid rgb(219, 217, 217);
}
.pred_01{
    color: blue;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    cursor: pointer;
    width: 150PX;
    height: 33PX;
    background-color: white;
    border: none;
    border-bottom: 5px solid rgb(219, 217, 217);
    border-right: 3px solid rgb(219, 217, 217);
}
.roda_pe{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

/***** ENDEREÇO DOS PREDIOS *****/
.back_img{
    background-color: red;
    background-image: url(../IMG/vi.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 594px;
    height: 122px;
    margin-left: auto;
    margin-right: auto;
}
a{
     text-decoration: none; 
     color: rgb(44, 44, 44);
}
.end_g0{
    margin-top: 32px;
    margin-bottom: -83px;
}
.name_01{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -93px;
    width: 305px;
    height: 44px;
    border-radius: 10px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(248, 99, 99);
}
.end_predios{
    margin-top: 88px;
    padding: 20px 0;
}
.name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 565px;
    height: 44px;
    border-radius: 10px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(89, 89, 240);    
}
.txt_pag_01{
    cursor: pointer;
    text-align: center;
    color: white;
    padding-top: 10px;
      
}

/***** PAGINA DOS PREDIOS *****/

.bk{
    text-align: center;
    font-size: 22px;
    margin-bottom: -10px;
}
.bk_01{
    text-align: center;
    padding: 20px 30px;
}
.quadrado_01{
    display: block;
}
.quadrado{
    display: inline-block;
    width: 350px;
    height: 460px;
    margin-left: 23px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(129, 129, 129);
    border-right: 5px solid rgb(148, 147, 147);
}
.posicoes{
    width: 344px;
    height: 408px;
    margin-left: auto;
    margin-right: auto;
}
.portas{
    display: inline-block;
}
.portas_01{
    border: 1px solid rgb(136, 133, 133);
    width: 43px;
    height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(131, 130, 130);
}
.serial{
    border: 1px solid rgb(136, 133, 133);
    width: 193px;
    height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(131, 130, 130);
}
.andar_01{
    border: 1px solid rgb(136, 133, 133);
    width: 79px;
    height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(131, 130, 130);
}

/***** PESQUISA *****/
.construcao{
    text-align: center;
    margin-top: 233px;
    margin-bottom: 314px;
}